#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #fafafa;
}

/* Delete button */

.bin_icon {
  border-radius: 100%;
  border: none;
  padding: 5px;
  margin: 0px;
}

.bin_icon:hover {
  background-color: rgb(214, 99, 99);
  cursor: pointer;
}

.delete_icon {
  background-color: rgb(229, 229, 229);
  border-radius: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
}

.delete_icon:hover {
  background-color: rgb(207, 207, 207);
  border-radius: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
}

/* Style from old index.css */

h1 {
  padding: 0px;
  margin: 0px;
}

/* main {
  display: flex;
  flex-direction: column;
} */

.active {
  background-color: rgb(240, 240, 240);
  /* color: rgb(115, 115, 220); */
  border-radius: 1em;
}

/* Table styling */

.receipt-table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: 1px solid black;
  text-align: left;
  padding: 1em;
}

td {
  text-align: left;
  padding: 1em;
}

.receipt-table_row {
  border-top: 1px solid rgb(255, 255, 255);
}

.receipt-table_row:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: context-menu;
}

/* Text styling */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-grey {
  color: grey;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.padding-top-1em {
  padding-top: 1em;
}

.margin-top-100px {
  margin-top: 100px;
}

.margin-left-1em {
  margin-left: 1em;
}

.margin-left-3em {
  margin-left: 3em;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

/* prova att lägga tabellen och add-receipt-rutan bredvid varandra i en grid 1fr 1fr  */

.mega-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Styling for viewing a single receipt */

.view-receipt-box {
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  text-align: center;
  padding: 2em;
  max-width: 400px;
  border-radius: 410x;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.view-receipt_image {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  /*   cursor: pointer; */
}

/* Styling for window to add new receipt */

.add-receipt-box {
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  text-align: center;
  padding: 2em;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
  font-size: 16px;
}

.dropzone:hover {
  border-color: #000;
}

.image-preview img {
  max-width: 100%;
  height: auto;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading img {
  height: 30px;
  width: 30px;
}

.add-receipt-form {
  display: grid;
  padding: 2em;
  max-width: 400px;
}

label {
  text-align: left;
  padding-top: 1em;
}

input {
  background-color: rgb(238, 238, 238);
  padding: 0.2em;
  border: none;
  border-radius: 5px;
  height: 2em;
  box-sizing: border-box;
  font: inherit;
}

#text_input {
  height: 5em;
  border-radius: 5px;
  border: none;
  background-color: rgb(238, 238, 238);
}

.submit-button {
  background: rgb(146, 97, 179);
  background: linear-gradient(
    144deg,
    rgba(146, 97, 179, 1) 0%,
    rgba(255, 101, 101, 1) 100%
  );
  color: white;
  height: 2.5em;
  margin: 1em 0em 0em;
}

.submit-button:hover {
  background: rgb(146, 97, 179);
  background: linear-gradient(
    90deg,
    rgba(146, 97, 179, 1) 15%,
    rgba(255, 101, 101, 1) 100%
  );
  cursor: pointer;
  color: white;
}

.button-add {
  background: rgb(146, 97, 179);
  background: linear-gradient(
    144deg,
    rgba(146, 97, 179, 1) 0%,
    rgba(255, 101, 101, 1) 100%
  );

  color: white;
  border: 0px;
  border-radius: 2em;
}

.button-add:hover {
  background: rgb(146, 97, 179);
  background: linear-gradient(
    90deg,
    rgba(146, 97, 179, 1) 15%,
    rgba(255, 101, 101, 1) 100%
  );
}

/* Styling för x-knapp vilket stänger ett window */

.upper-left-corner {
  position: absolute;
  top: 10px;
  left: 10px;
}

.position-relative {
  position: relative;
}

/* Styling för sökruta */

.search-form {
  padding: 1em;
}

.search-bar {
  background-color: white;
  border: none;
  border-radius: 1.5em;
  padding: 0.7em 1em;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.first-container {
  padding: 0em 5em;
}

.second-container {
  padding: 0em 5em 5em;
}

/* hr {
  border-style: dashed;
  margin: 20px;
} */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em 5em 3em;
}

.header-left {
  display: flex;
}

.user-icon {
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 3em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.user-icon:hover {
  background-color: rgb(196, 196, 196);
  padding: 1em;
  border-radius: 3em;
  cursor: pointer;
}

/* .user-card {
  background-color: hotpink;
  position: absolute;
  top: 80px;
  padding: 2em;
  margin: 5em;
} */

/* TEST TEST TEST TEST TEST */

.header-right {
  position: relative;
}

.user-card {
  position: absolute;
  margin-right: 0px;
  margin-top: 60px;
  top: 0px;
  right: 0px;
  width: 200px;
  padding: 10px;
  border-radius: 1em;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  z-index: 2;
}

ul,
li {
  margin: 0;
  padding: 0px;
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
}

.small-icon {
  padding-right: 10px;
}

.small-link-text {
  margin-bottom: 0;
  text-decoration: underline;
}

.user-card li {
  display: flex;
  align-items: center;
  padding: 5px;
}
